# Used to remove files from deployment using `git archive`

# Git Files
.gitignore export-ignore
.gitattributes export-ignore

Thumbs.db export-ignore
project.tar.gz export-ignore

# Directories
_docs export-ignore
_scripts export-ignore

# General text files
*README.md export-ignore
*LICENSE.md export-ignore
COPYRIGHT.md export-ignore
CHANGELOG.md export-ignore