@import url("https://fonts.googleapis.com/css?family=Roboto");
/*------------------------------------------------*\
 # HEADINGS
\*------------------------------------------------*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: black;
}

h1, .h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.45rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

/*---------------------------------------------------
*   Pagination
*   ----------------------------------------------------- */
.navigation {
  padding: 25px 0px;
}

.navigation .screen-reader-text {
  display: none;
}

.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.nav-links .nav-previous a::before, .nav-links .nav-next a::after {
  font-family: FontAwesome;
}

.nav-links a {
  background: #3a7a55;
  display: inline-block;
  padding: 10px 20px;
}

.nav-links a,
.nav-links a:visited,
.nav-links a:focus {
  color: #fff;
}

.nav-links a:hover {
  background: #555;
}

.nav-links .nav-previous a::before {
  left: 10px;
  content: "\f100";
  margin-right: 5px;
}

.nav-links .nav-next a::after {
  margin-left: 5px;
  content: "\f101";
}

.navbar {
  background-color: #282829;
  position: fixed;
  width: 100%;
  z-index: 10000;
  height: 75px;
}

@media screen and (max-width: 992px) {
  .navbar {
    height: auto;
  }
}

.navbar .navbar-brand .title {
  padding: 0px 10px;
}

.navbar .navbar-brand .title span {
  padding: 0 0 0 10px;
}

.navbar #main-menu .menu-item {
  margin: 0px 30px 0 0;
}

.navbar #main-menu .menu-item a {
  color: #1ab697;
}

@media screen and (max-width: 992px) {
  .navbar #navbarCollapse #main-menu {
    margin: 10px 0 0 0;
  }
}

@media screen and (max-width: 992px) {
  .navbar #navbarCollapse #main-menu .menu-item {
    font-size: 1.2rem;
    margin-left: 15px;
    padding: 10px 0px;
    border-top: solid #484c50 1px;
  }
}

.navbar #navbarCollapse #main-menu .menu-item .fa-magento {
  color: #d8dadc;
}

@media screen and (max-width: 992px) {
  .navbar #navbarCollapse #social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 992px) {
  .navbar #navbarCollapse #social .nav-item {
    padding: 10px 0 0 20px;
  }
}

.navbar #navbarCollapse #social .sozialize {
  padding: 9px 12px 0 0;
  color: #c6c6c6;
}

@media screen and (max-width: 992px) {
  .navbar #navbarCollapse #social .sozialize {
    padding: 18px 0px 0 15px;
  }
}

.sidebar {
  border-left: solid #eee 1px;
  background: #fdfdfd;
  padding: 70px 0px 25px !important;
}

body {
  font-family: "Roboto", sans-serif;
}

#content {
  padding-bottom: 20px;
  /*@include media-query(md) {
        padding-top:50px;
    }*/
}

#content .indice {
  margin-top: 25px;
}

#content .index {
  margin-top: 95px;
}

@media screen and (max-width: 768px) {
  #content .index {
    margin-top: 120px;
  }
}

@media screen and (max-width: 992px) {
  #content .index {
    margin-top: 70px;
  }
}

#content .content-left .page-header .page-title {
  color: #1ab697;
  border-left: #d8dadc solid 11px;
  padding: 0 0px 10px 15px;
  border-bottom: #d8dadc solid 1px;
}

#content .content-left .post-navigation .nav-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  overflow: hidden;
}

#content .content-left .post-navigation .nav-links .nav-previous {
  margin-right: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#content .content-left .related-pots-block {
  border-top: solid #eee 1px;
  margin-top: 15px;
  clear: both;
  padding: 30px 15px;
}

#content .content-left .related-pots-block .widget-title {
  color: #1ab697;
  font-size: 2rem;
}

#content .content-left .related-pots-block .related-post-entries .widget-image img {
  height: 120px;
  width: auto;
}

#content .content-left .related-pots-block .related-post-entries .featured-desc {
  margin: 17px 0px 0px;
}

#content .content-left .related-pots-block .related-post-entries .featured-desc h2 {
  color: #1ab697;
  font-size: 1.1rem;
}

#content .content-left .comments-area a {
  color: #1ab697;
}

#content .page-header {
  margin-bottom: 25px;
}

#content .page-header .page-title {
  color: #d8dadc;
  border-left: #d8dadc solid 11px;
  padding: 0 0px 10px 15px;
  border-bottom: #d8dadc solid 1px;
}

#content .page-header .page-title span {
  color: #1ab697;
}

.contenedor-pagina .entry-content {
  margin-top: 25px;
}

.content-left {
  /*.entry-header {
        
        color: $color-link-grey;                    
        border-left: solid 5px;        
        border-bottom: solid 1px;
        font-weight:bold;
        
        .entry-title {
            font-weight:bold;
            color: $color-link;   
            padding: 0 0 0 15px;         
        }
        a{
            color:$color-link;
        }
    }
    .entry-content {       
        
        h2 {
            color:#969696;
        }
    } */
}

.content-left ul {
  margin: 20px 0px;
  padding: 0 0 0 25px;
  list-style-type: square;
}

.content-left ul li {
  padding: 5px 0px 0;
}

.content-left ul li a {
  color: #1ab697;
}

.article {
  /*padding:10px;
    .post {
       //padding: 10px 20px;
       .entry-header {
            .entry-title {                
                color: $color-link-grey;                                                    
                padding: 10px 0 0 10px;
                font-weight:bold;                
                a{
                    color:$color-link;
                }
                h2 {
                    a {
                        color:$color-link;
                    }                    
                }
           }
           h1.entry-title {
                color: $color-link;
                font-size: 1.6rem;
           }
       }
       
       .entry-content {
            line-height: 1.6rem;            
            p {
                margin: 1rem 0.5rem 1rem;
            }
            a {
               color:$color-link;               
            }
            ul {
                margin:0px;                 
            }
            img {
                 margin: 0.7rem 0
            }
            .post-thumbnail {
                img {
                    height: auto;
                    max-width: 25%;
                    margin: 25px 10px 0 0;
                    float: left;    
                }
            }
            h2,h3,h4,h5,h6  { 
                color: $color-link; 
                margin: 30px 0px;
                font-weight: bold;
                border-left: solid 5px;
                padding-left: 10px;
            }
        }
        .entry-footer {
            .entry-category {
                .post-categories {
                    margin:0px;
                    padding:0px;       
                    list-style-type:none;
                    li {
                        display:inline;
                        a {
                            background: #eee;
                            padding: 2px 10px;
                            color: $color-link;
                            font-size: 0.9rem;
                        }
                    }                    
                }
            }
       }
       .entry-meta {
           margin: 10px 0px;
           .posted-on {
               margin:0 0 0 5px ;
               font-size: 0.9rem;
               a {
                   color: $color-link;
               }
           }
           .fas  {
               font-weight:normal;
               margin-right:5px;
           }
       }
       .tags-links {
            a {
                color: $color-link;
                background: #eee;
                padding: 4px 7px;
                font-size: 0.9rem;
            }    
       }
    }
*/
}

.article .post {
  margin-top: 10px;
}

.article .fimage {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .article .fimage {
    display: none;
  }
}

.article .fimage img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: auto;
}

.article .fpostsingle {
  border-bottom: solid 2px #ededed;
  border-left: solid 1px #ededed;
  padding: 95px 30px 25px !important;
}

@media screen and (max-width: 992px) {
  .article .fpostsingle {
    padding: 40px 30px 25px !important;
  }
}

.article .fpost,
.article .fpostsingle {
  border-bottom: solid 2px #ededed;
  border-left: solid 1px #ededed;
}

.article .fpost .entry-header h1,
.article .fpostsingle .entry-header h1 {
  color: #1ab798;
}

.article .fpost .entry-header h2,
.article .fpostsingle .entry-header h2 {
  color: #1ab798;
}

.article .fpost .entry-header h2 a,
.article .fpostsingle .entry-header h2 a {
  color: #1ab798;
  color: #8a8a8a;
}

.article .fpost .entry-info,
.article .fpostsingle .entry-info {
  color: #c1bebe;
  font-size: 0.8rem;
}

.article .fpost .entry-info .entry-meta .author,
.article .fpostsingle .entry-info .entry-meta .author {
  color: #838181;
}

.article .fpost .entry-content,
.article .fpostsingle .entry-content {
  margin: 10px 0px;
}

.article .fpost .entry-content p,
.article .fpostsingle .entry-content p {
  font-size: 1rem;
  color: #787878;
}

.article .fpost .entry-content img,
.article .fpostsingle .entry-content img {
  width: 100%;
  height: auto;
}

.widget {
  height: auto;
  overflow: hidden;
  margin: 0 0px 50px;
  padding: 0px 0 0 20px;
}

.widget ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.widget ul li {
  color: #949494;
  padding: 0 0 0 0px;
}

.widget ul li a {
  color: #1ab697;
  text-transform: capitalize;
}

.widget ul li:before {
  content: '\203a \00a0\00a0';
  margin: 0;
}

.widget-area .widget_search {
  margin-top: 40px;
}

.widget-area .widget_search .search-form {
  position: relative;
}

.widget-area .widget_search .search-form .screen-reader-text {
  display: none;
}

.widget-area .widget_search .search-form input.search-field {
  border: 1px solid #4ea371;
  width: 100% !important;
  border-radius: 0;
  padding: 10px 20px;
}

.widget-area .widget_search .search-form input[type=submit] {
  top: 0px;
  right: 0px;
  margin: 0px;
  height: auto;
  border: 0px;
  color: #fff;
  background: #4ea371;
  line-height: 34px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.widget-area .widget-title {
  color: #6f7173;
  border-bottom: solid #eee 1px;
  font-weight: bold;
  padding-bottom: 12px;
}

.widget-area .widget_categories .cat-item {
  float: left;
  width: 50%;
  padding: 5px 0px 0;
}

.widget-area .widget_tag_cloud .tagcloud .tag-cloud-link {
  background: #eee;
  padding: 0px 10px;
  color: #1ab697;
}

.widget-area .widget_recent_comments .recentcomments {
  padding: 5px 0px 0;
}

.widget_archive ul {
  margin: 0;
}

.widget_archive ul li {
  float: left;
  width: 50%;
  padding: 5px 0px 0;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

.error404 #primary {
  margin: 0 auto;
  float: none;
}

.error404 .no-results {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.error404 h1 {
  color: #4ea371;
  font-size: 100px;
  line-height: 120px;
}

.error404 p {
  font-size: 32px;
  line-height: 40px;
}

/*---------------------------------------------------
*   404 Page and Search Result Empty
*   ----------------------------------------------------- */
.error404 #primary {
  margin: 0 auto;
  float: none;
}

.error-404,
.no-results {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.error-404 h1,
.no-results h1 {
  color: #4ea371;
  font-size: 100px;
  line-height: 120px;
}

.error-404 p,
.no-results p {
  font-size: 32px;
  line-height: 40px;
}

#footer {
  padding: 60px 0;
  background: #000000;
  color: #fff;
  text-align: center;
}

#footer a {
  color: #fff;
  opacity: 0.75;
}

#footer .left {
  text-align: left;
}
/*# sourceMappingURL=style.css.map */