// default
$color-theme: #656565;
$color-link: #1ab697;
$color-link-grey: #d8dadc;


// font colors
$black: #000;
$white: #fff;
$blue: #1879c3;
$green: #5cb85c;
$grey: #544e4e;
$red: #F44336;
$dark-grey: #544e4e;
$light-grey: #9e9e9e;

