// google fonts
//@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
//@import url('https://fonts.googleapis.com/css?family=Open+Sans');
//@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
//@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// default font
//$font-default: 'Open Sans', sans-serif;
//$font-default: 'Source Code Pro', monospace;
$font-default: 'Roboto', sans-serif;
//$font-default: 'Raleway', sans-serif;
//$font-default: 'Yanone Kaffeesatz', sans-serif;

// font sizes
$size-primary: 100%;
$size-default: 1rem;


