#content {
    
    padding-bottom: 20px;
    
    .content {
        margin-top:25px;
    }
    .indice {
        margin-top:25px;
    }
    .content-left {
        margin-top: 25px;
        .page-header {
            .page-title {
                color: $color-link;
                border-left: $color-link-grey solid 11px;
                padding: 0 0px 10px 15px;
                border-bottom: $color-link-grey solid 1px; 
            }
        }
        .post-navigation {
            .nav-links {
                display: flex;
                height: auto;
                overflow: hidden;
                .nav-previous {
                    border-right: solid #eee 5px;
                    display: flex;
                }
            }        
        }

        .related-pots-block {
            border-top: solid #eee 1px;
            .widget-title {
                color: $color-link; 
                font-size: 2rem;
            }
            .related-post-entries {
                .widget-image {
                    img {
                        height: 120px;
                        width: auto;
                    }

                }
                .featured-desc {
                    margin: 17px 0px 0px;
                    h2 {
                        color: $color-link;
                        font-size:1.1rem;
                    }    
                }

            }    
        }
        .comments-area {
            a {
                color: $color-link;
            }
        }
        
    }
   

    
    .page-header{
        margin-bottom:25px;
        .page-title {
            color: $color-link-grey;
            border-left:$color-link-grey solid 11px;
            padding: 0 0px 10px 15px;
            border-bottom: $color-link-grey solid 1px;
            span {
                color:$color-link;
            }
        }
    }
    
    .related-pots-block {        
        padding: 30px 15px;        
        clear: both;
    }    
}

.box {
    
    padding:10px;
    .post {
       //padding: 10px 20px;
       .entry-header {
            .entry-title {                
                color: $color-link-grey;                                                    
                padding: 10px 0 0 10px;
                font-weight:bold;                
                a{
                    color:$color-link;
                }
                h2 {
                    a {
                        color:$color-link;
                    }                    
                }
           }
           h1.entry-title {
                color:$color-link;
           }
       }
       
       .entry-content {
            line-height: 1.6rem;            
            p {
                margin: 1rem 0.5rem 1rem;
            }
            a {
               color:$color-link-grey;               
            }
            ul {
                margin:0px;
                li {
                    margin-bottom:5px;
                }
            }
            img {
                 margin: 0.7rem 0
            }
            .post-thumbnail {
                img {
                    height: auto;
                    max-width: 25%;
                    margin: 25px 10px 0 0;
                    float: left;    
                }
            }
            h2,h3,h4,h5,h6  { 
                color: $color-link; 
                margin: 30px 0px;
                font-weight: bold;
                border-left: solid 5px;
                padding-left: 10px;
            }
        }
        .entry-footer {
            .entry-category {
                .post-categories {
                    margin:0px;
                    padding:0px;       
                    list-style-type:none;
                    li {
                        display:inline;
                        a {
                            background: #eee;
                            padding: 2px 10px;
                            color: $color-link;
                            font-size: 0.9rem;
                        }
                    }                    
                }
            }
       }
       .entry-meta {
           margin: 10px 0px;
           .posted-on {
               margin:0 0 0 5px ;
               font-size: 0.9rem;
               a {
                   color: $color-link;
               }
           }
           .fas  {
               font-weight:normal;
               margin-right:5px;
           }
       }
       .tags-links {
            a {
                color: $color-link;
                background: #eee;
                padding: 4px 7px;
                font-size: 0.9rem;
            }    
       }
    }

 
}

