body {
    font-family: $font-default;
}

#content {
    
    padding-bottom: 20px;
    
    /*@include media-query(md) {
        padding-top:50px;
    }*/

    .indice {
        margin-top:25px;
    }
    .index {
        margin-top: 95px;

        @include media-query(sm) {
            margin-top:120px;
        }     

        @include media-query(md) {
            margin-top:70px;
        }

    }
    .content-left {
        
       
        .page-header {
            .page-title {
                color: $color-link;
                border-left: $color-link-grey solid 11px;
                padding: 0 0px 10px 15px;
                border-bottom: $color-link-grey solid 1px; 
            }
        }
        .post-navigation {
            .nav-links {
                display: flex;
                height: auto;
                overflow: hidden;
                .nav-previous {
                    margin-right: 5px;
                    display: flex;
                }
            }        
        }

        .related-pots-block {
            border-top: solid #eee 1px;
            margin-top: 15px;
            clear: both;
            padding: 30px 15px;        
            .widget-title {
                color: $color-link; 
                font-size: 2rem;
            }
            .related-post-entries {
                .widget-image {
                    img {
                        height: 120px;
                        width: auto;
                        @include media-query(md) {
                            margin-right: 25px;
                            float: left;
                            height: 75px;
                            margin: 10px 25px 0 0;
                        }
                        
                    }

                }
                .featured-desc {
                    margin: 17px 0px 0px;
                    h2 {
                        color: $color-link;
                        font-size:1.1rem;
                    }    
                }

            }    
        }
        .comments-area {
            a {
                color: $color-link;
            }
        }
        
    }
   

    
    .page-header{
        margin-bottom:25px;
        .page-title {
            color: $color-link-grey;
            border-left:$color-link-grey solid 11px;
            padding: 0 0px 10px 15px;
            border-bottom: $color-link-grey solid 1px;
            span {
                color:$color-link;
            }
        }
    }
    
  
}