.error404 {
    #primary{
        margin: 0 auto;
        float: none;
    }
    .no-results{
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;
    }
    h1 {
        color: #4ea371;
        font-size: 100px;
        line-height: 120px;
    }    
    p {
        font-size: 32px;
        line-height: 40px;
    }    
}