#footer {
    padding: 60px 0;
    background: #000000;
    color: #fff;
    text-align: center;
    a {
        color: #fff;
        opacity: 0.75;
    }
    .left {
        text-align:left; 
    }
}    
