.navbar {
    
    background-color: rgb(40,40,41); 
    position: fixed;
    width: 100%;
    z-index: 10000;
    height:75px;

    @include media-query(md) {
        height:auto;
    }

    
    
    .navbar-brand {    
        .title {
            padding: 0px 10px;
            span {
               padding: 0 0 0 10px;
            }
        }
    }
    #main-menu {
        .menu-item {
            margin:0px 30px 0 0;
            
            a{
                color:$color-link;
            }
        }
    }
    
    
    #navbarCollapse {
        #main-menu {
            @include media-query(md){
                margin: 10px 0 0 0;
            }
            .menu-item  {

                @include media-query(md){
                    font-size: 1.2rem;
                    margin-left: 15px;
                    padding: 10px 0px;
                    border-top: solid #484c50 1px;
                }
                .fa-magento {
                    color: $color-link-grey;
                }
            }    
        }
        #social {
            @include media-query(md) {
                flex-direction: row;
            }    
            .nav-item {
                @include media-query(md) {                
                    padding: 10px 0 0 20px
                }        
            }    
            .sozialize {
                padding: 9px 12px 0 0;
                color: #c6c6c6;
                @include media-query(md) {
                    padding:18px 0px 0 15px;
                }
            }
        }
    }
}
