@charset 'UTF-8';

// Configuration and helpers
@import 'abstracts/variables';
@import 'abstracts/colors';
@import 'abstracts/media';

// vendors 
//@import 'vendor/bootstrap/reboot';
//@import 'vendor/bootstrap/grid';

// Base stuff
@import 'base/fonts';
@import 'base/colors';

// Components
@import 'components/headings';

// pages & layout
//@import 'layout/nav';
@import 'layout/all';
@import 'layout/nav';
@import 'layout/sidebar';
@import 'layout/content';
@import 'layout/page';
@import 'layout/widgets';
@import 'layout/forms';
@import 'layout/error';
@import 'layout/media';
@import 'layout/footer';

/*
 * Globals
 */

body {
    font-family: $font-default;    
    color: $color-theme;
}

h1 { font-size: 2.4rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1.2rem; }